html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background: transparent;
  text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbp,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: -webkit-box;
  display: -webkit-list-item;
  display: -ms-list-itembox;
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-print-color-scheme: dark;
  color-scheme: dark;
}

body {
  font-family: Inter;
  background-color: #1A1B1E;
  color: #C1C2C5;
  line-height: 1.55;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coming-soon {
  -webkit-tap-highlight-color: transparent;
  font-family: Inter;
  cursor: pointer;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  color: #C1C2C5;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-sizing: border-box;
  height: 50px;
  padding-left: 17.333333333333332px;
  padding-right: 17.333333333333332px;
  font-family: Inter;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  width: auto;
  border-radius: 32px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 0;
  background-color: rgba(126, 126, 126, 1);
  color: #fff;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.coming-soon:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

      .theme-background {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 0;
        color: #fff;
        min-height: 100vh;
        background-image: linear-gradient(24deg, #18181b 0%, #000 100%);
      }

      .account-button-size {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        gap: 16px;
        top: 0;
        height: 60px;
        position: -webkit-sticky;
        position: sticky;
        background-color: transparent;
        -webkit-backdrop-filter: blur(24px) saturate(1.8);
        backdrop-filter: blur(24px) saturate(1.8);
        transition-duration: 300ms;
        z-index: 3;
        padding-right: 16px;
        padding-left: 16px;
      }

      .svg-align {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 2px;
      }

      .svg-align>* {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
      }

      .top-link-decoration {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 50px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }

      .top-link-decoration>* {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
      }

      .top-link-decoration a {
        transition-duration: 100ms;
      }

      .top-link-decoration a:hover {
        color: #A6A7AB;
      }

      .top-link {
        font-family: Inter;
        -webkit-tap-highlight-color: transparent;
        color: #909296;
        font-size: 14px;
        line-height: 1.55;
        -webkit-text-decoration: none;
        text-decoration: none;
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        border: 0;
      }

      .title-padding {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 100px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-top: 65px;
        padding-bottom: 100px;
      }

      .img-align {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 24px;
        padding-right: 12px;
        padding-left: 12px;
      }

      .subtext-align {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 24px;
        text-align: center;
      }

      .title {
        font-family: Inter;
        -webkit-tap-highlight-color: transparent;
        color: inherit;
        font-size: inherit;
        line-height: 1.55;
        -webkit-text-decoration: none;
        text-decoration: none;
        background-image: linear-gradient(175deg, rgba(189, 189, 189, 0.95) 0%, rgba(189, 189, 189, 0.95) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Inter;
        font-weight: 700;
        font-size: 70px;
        line-height: 1.3;
        margin: 0;
        min-height: 150px;
        max-inline-size: 800px;
        line-height: 1;
        word-break: break-word;
        margin-top: 30px;
      }

      .subtext {
        font-family: Inter;
        -webkit-tap-highlight-color: transparent;
        color: rgba(146, 146, 146, 1);
        font-size: inherit;
        line-height: 1.55;
        -webkit-text-decoration: none;
        text-decoration: none;
        font-size: 20px;
      }

      .coming-soon-padding {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 25px;
      }

      .coming-soon-text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 100%;
        overflow: visible;
      }

      .coming-soon-align {
        white-space: nowrap;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .icon-text-align {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        gap: 16px;
      }

      .icon-text-align>* {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
      }

      .icon-text {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        gap: 5px;
        color: #909296;
      }

      .igm-border {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 0;
        border: 3px solid #ff0000;
        border-radius: 6px;
        box-shadow: #ff0000 1px 1px 120px -55px;
      }

      .account-align {
        box-sizing: border-box;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        gap: 10px;
        display: none;
      }
      
      .account-align>* {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        flex-grow: 0;
      }
      
      @media (min-width: 576px) {
        .account-align {
          display: flex;
        }
      }
      
      
      /* Login / Sign up */
      .account-buttons {
        padding: 0px 14px;
        appearance: none;
        text-align: left;
        text-decoration: none;
        box-sizing: border-box;
        height: 30px;
        font-family: Inter;
        -webkit-tap-highlight-color: transparent;
        display: block;
        width: 100%;
        border-radius: 32px;
        font-weight: 600;
        position: relative;
        line-height: 1;
        font-size: 12px;
        user-select: none;
        cursor: pointer;
        border: 1px solid rgb(165, 216, 255);
        background-color: transparent;
        color: rgb(165, 216, 255);
      }
      
      .account-buttons:focus {
        outline-offset: 2px;
        outline: rgb(28, 126, 214) solid 2px;
      }
      
      .account-buttons:focus:not(:focus-visible) {
        outline: none;
      }
      
      .account-buttons:focus {
        outline-offset: 2px;
        outline: rgb(28, 126, 214) solid 2px;
      }
      
      .account-buttons:focus:not(:focus-visible) {
        outline: none;
      }
      
      @media (hover: hover) {
        .account-buttons:hover {
          background-color: rgba(51, 154, 240, 0.05);
        }
      }
      
      @media (hover: none) {
        .account-buttons:active {
          background-color: rgba(51, 154, 240, 0.05);
        }
      }
      
      .account-buttons:active {
        transform: translateY(3px);
      }
      
